.box-comments {
    background-color: #DDD;
    height: 21rem;
    width: 50rem;
    border-radius: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 4.5rem 0 4.5rem;
}

.box-comments .user-comment {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 3rem;
}

.box-comments .user-namework {
    margin-top: 3.5rem;
}
