.box-comments {
    background-color: #DDD;
    height: 24vh;
    width: 35vw;
    border-radius: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 4.5rem 0 4.5rem;
    display: flex;
}

.box-comments .user-comment {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: space-around;
}

@media only screen and (max-width: 45rem) {
    .box-comments {
        width: 80vw;
        height: 20vh;
        margin-bottom: 3.5rem;
        padding: 2rem 2rem 0 2rem;
    }
    .box-comments .user-comment {
        margin-left: 1.5rem;
        margin-top: 0;
    }
}
