.btn-pattern {
    text-decoration: none;
    color: #FFF;
    background-color:  #D6000D;
    display: inline-block;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1.8rem;
    transition: transform 300ms cubic-bezier(0.46, 0.54, 0.82, 2.29);
}

.btn-pattern.-login {
    margin-right: 2.5rem;
    padding: 0.9rem 4.5rem;
}

.btn-pattern.-login:hover {
    transform: scale(1.02);
    background-color: #b10510;
}

.btn-pattern.-btnbudget {
    font-size: 2.3rem;
    margin-top: 10rem;
    padding: 0.9rem 4.5rem;
}
.btn-pattern.-btnbudget:hover {
    transform: scale(1.02);
    background-color: #b10510;
}

.btn-pattern.-btncall {
    padding: 1.8rem 4.5rem;
}
.btn-pattern.-btncall:hover {
    background-color: #b10510;
}