.main-action {
    margin-right: 4.5rem;
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

.main-action:hover {
    color: #D6000D;
}

@media only screen and (max-width: 45rem) {
    .main-action:nth-child(3) {
        margin-right: 0;
    }
}