.main-section {
    display: flex;
    padding-top: 15rem;
    padding-bottom: 5rem;
    justify-content: space-evenly;
}

.main-section.-benefit {
    margin-left: auto;
    margin-right: auto;
    padding-top: 35rem;
    justify-content: space-around;
    padding-bottom: 15rem;
}

.main-section.-ux {
    padding-top: 30rem;
    justify-content: space-evenly;
    padding-bottom: 32rem;
}