.main-img.-videocall {
    width: 76rem;
    height: 65rem;
}

.main-img.-peoplecoding {
    width: 76rem;
    height: 69.7rem;
    transform: translateY(-12rem);
}

.main-img.-circle {
    width: 12rem;
    height: 12rem;
    display: inline-flex;
    border-radius: 50%;
    margin-bottom: 5rem;
}