.main-section {
    display: flex;
    padding-top: 15rem;
    padding-bottom: 5rem;
    justify-content: center;
}

.main-section.-benefit {
    flex-direction: column;
    padding-left: 17rem;
}

.main-section.-ux {
    padding-top: 30rem;
    justify-content: space-evenly;
    padding-bottom: 32rem;
}