.rodape-box {
    color: #FFF;
    display: inline-flex;
    flex-direction: column;
    margin-right: 12rem;
    margin-left: 8rem;
    line-height: 6rem;
    padding-bottom: 5rem;
    font-size: 2rem;
    padding-top: 6rem;
}

.rodape-box .socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rodape-box .social {
    color: #D6000D;
    font-size: 3.5rem;
    margin-top: 1.2rem;
    text-decoration: none;
}

.rodape-box .about {
    line-height: normal;
    margin-top: 1.5rem;
}
